.home {
  overflow-x: hidden;

  .destaque {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;

    .owl-carousel {
      width: 98%;
      margin: 0 auto;

      .item {
        width: 100%;
        overflow: hidden;
        @include flex(row, center, center);
        gap: 8px;

        .item-left,
        .item-right {
          position: relative;

          >div,
          span {
            position: absolute;
            z-index: 900;
          }
        }

        .item-left {
          transform: translateX(0%);
        }

        .item-right {
          span {
            bottom: 0px;
            left: 0px;
            text-transform: uppercase;
            background-color: $white;
            font-size: $f5;
            padding: 8px;
            @include transition;
          }
        }

        #firstBannerLeft {
          transition: 800ms;
          z-index: 550;
          transform: translateX(-103%);

          >div {
            top: 34%;
            right: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
            max-width: 0px;
            transition: ease-out 1200ms;

            p {
              font-size: $f2;
              background-color: $white;
              text-transform: uppercase;
              padding: 8px;
              font-weight: 300;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: clip;
            }
          }
        }

        #firstBannerRight {
          transition: 800ms;
          transform: translateX(103%);

          >div {
            top: 43%;
            left: -375px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
            transition: ease-out 630ms;
            z-index: 500;
            visibility: hidden;
          }

          p {
            font-size: $f3;
            text-transform: uppercase;
            background-color: $white;
            padding: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;

            strong {
              font-weight: 600;
            }
          }

          span {
            bottom: -60px;
          }
        }

        @include tablet {
          gap: 0px;

          .item-left {
            display: none;
          }

          #firstBannerRight {
            >div {
              top: 36%;
            }
          }

          .item-right {
            min-width: 96vw;
          }
        }
      }

      @include tablet {
        width: 100%;
      }
    }

    .owl-nav {
      position: absolute;
      top: 50%;
      left: -1%;
      width: 102%;
      transform: translateY(-50%);
      @include flex(row, space-between, center);
      opacity: 0; // js seta para 1 após animações
      transition: all 420ms;

      .owl-prev,
      .owl-next {
        background-color: $primary !important;
        color: $white !important;
        width: 50px !important;
        height: 36px !important;
        font-size: $f4 !important;
        @include flex(row, center, center);
      }
    }

    .owl-dots {
      width: 100%;
      height: 3px;
      margin-top: 24px;
      @include flex(row, center, center);
      gap: 24px;
      opacity: 0; //js seta para 1 após animações
      transition: all 420ms;

      button {
        height: 100%;
        width: 50px;
        background-color: $primary;
        opacity: 0.34;
      }

      @include tablet {
        gap: 16px;

        button {
          width: 42px;
        }
      }

      @include mobile {
        gap: 10px;

        button {
          width: 32px;
        }
      }

      .active {
        opacity: 1;
      }
    }
  }

  .projetos {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;

    >h2 {
      font-size: $f1;
      font-weight: 500;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 24px;
      margin-top: 48px;
      text-transform: uppercase;
      padding: 16px;

      span {
        font-weight: 300;
      }

      @include mobile {
        font-size: $f1-mb;
        padding-bottom: 16px;
      }
    }

    >p {
      font-size: $f4;
      max-width: 1000px;
      text-align: center;
      line-height: 1.6rem;
      margin: 0 auto;
      margin-bottom: 48px;
      padding: 16px;

      @include mobile {
        font-size: 1rem;
        padding-top: 0px;
      }
    }

    .projetos-galeria {
      position: relative;

      .owl-carousel {
        .item {
          position: relative;
          overflow: hidden;

          .ficha {
            position: absolute;
            bottom: 8px;
            right: 8px;
            background-color: #efefef;
            padding: 16px;
            @include flex(column, center, flex-start);
            gap: 16px;
            text-transform: uppercase;

            >span {
              color: #adadad;
              text-decoration: none;
              font-size: $f6;
            }

            >h3 {
              font-weight: 600;
              font-size: $f4;
            }

            .lista-infos {
              list-style-type: none;
              font-size: $f5;
              font-weight: 500;
            }

            >a {
              color: $black;
              text-decoration: none;
              font-size: $f6;
              font-weight: 600;
            }
          }

          img,
          .ficha {
            cursor: pointer;
          }

          @include tablet {
            @include flex(column, center, center);
            gap: 8px;

            img {
              width: 100%;
            }

            .ficha {
              position: static;
              width: 100%;
            }
          }

          @include mobile {
            gap: 0px;

            img {
              height: 360px;
              width: auto;
            }

            .ficha {
              position: static;
              width: fit-content;
              margin-top: -120px;
            }
          }
        }

        .owl-stage-outer {
          .owl-stage {
            >div {
              opacity: 0.34;
              @include transition;
            }

            >div.active {
              opacity: 1;
              box-shadow: 0px 0px 0px white;
              &:hover {
                img {
                  transform: scale(1.05);
                }
              }
    
              img {
                transition: all 1000ms;
              }
            }
          }
        }

        .owl-nav {
          position: static;
          width: 100%;
          justify-content: center;
          transform: translateY(0%);
          margin-top: 32px;
          gap: 1rem;
          @include flex(row, center, center);

          @include mobile {
            margin-top: 8px;
            gap: 8px;
          }

          .owl-prev,
          .owl-next {
            background: none;
            color: #adadad;
          }

          >a {
            color: #adadad;
            text-decoration: none;
            text-transform: uppercase;
            font-size: $f6;
            transform: translateY(-20%);
          }
        }
      }
    }
  }

  .news {
    @include flex(column, center, center);
    gap: 16px;

    h2 {
      font-size: $f1;
      text-transform: uppercase;
      font-weight: 500;
      margin: 32px auto;
      margin-top: 100px;
      width: 100%;
      max-width: 900px;
      text-align: center;

      span {
        font-weight: 300;
      }

      @include mobile {
        font-size: $f1-mb;
      }
    }

    .grid-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 32px;
      grid-template-areas:
        "card-1 card-1 card-1 card-2 card-2 card-2 card-2"
        "card-1 card-1 card-1 card-3 card-3 card-4 card-4";
      max-height: 700px;

      .card-1 {
        grid-area: card-1;
      }

      .card-2 {
        grid-area: card-2;
      }

      .card-3 {
        grid-area: card-3;
      }

      .card-4 {
        grid-area: card-4;
      }

      .card-1 {
        height: 100%;
        background-color: $primary;
        max-width: 100%;
        overflow: hidden;
        @include flex(column, space-between, center);
        text-decoration: none;
        position: relative;

        img {
          height: 70%;
        }

        .card-texto {
          padding: 24px;
          height: 30%;
          @include flex(column, space-between, flex-start);
          background-color: $primary;
          position: absolute;
          bottom: 0px;
          width: 100%;

          h3 {
            color: $white;
            font-weight: 600;
            font-size: 24px;
          }

          p {
            color: $white;
            font-weight: 400;
            font-size: 18px;
          }

          span {
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: $f5
          }
        }
      }

      .card-2 {
        @include flex(row, flex-start, center);
        background-color: #adadad;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        position: relative;

        img {
          height: 100%;
        }

        .card-texto {
          @include flex(column, space-evenly, flex-start);
          padding: 24px;
          width: 45%;
          position: absolute;
          background-color: #f4f4f4;
          height: 100%;
          right: 0px;
          color: $primary;

          span {
            font-weight: 600;
            text-transform: uppercase;
            font-size: $f5;
          }
        }
      }

      .card-3,
      .card-4 {
        @include flex(row, center, center);
        height: 100%;
        max-width: 100%;
        overflow: hidden;
        position: relative;

        img {
          height: 100%;
        }

        .card-texto {
          position: absolute;
          bottom: 0px;
          left: 0px;
          padding: 24px;

          h3 {
            color: $white;
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 8px;
          }

          p {
            display: none;
          }

          span {
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: $f5;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          }
        }
      }

      .card-1,
      .card-2,
      .card-3,
      .card-4 {
        img {
          transition: 1000ms;
        }

        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }

      @include tablet {
        @include flex(row, center, center);
        gap: 24px;
        flex-wrap: wrap;
        max-height: 3000px;

        .card-1,
        .card-2,
        .card-3,
        .card-4 {
          width: 44vw;
          height: 44vw;

          .card-texto {
            height: fit-content;

            h3 {
              margin-bottom: 24px;
            }
          }
        }

        .card-1, .card-2 {
          background: none;
          img {
            height: 100%;
          }
          .card-texto {
            background: none;
            justify-content: center;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

            p {
              display: none;
              position: static;
              height: fit-content;
            }
          }
        }

        .card-3, .card-4 {
          .card-texto {
            h3 {
              font-weight: 600;
            }
          }
        }

        .card-2 {
          @include flex(column-reverse, space-between, center);

          .card-texto {
            width: 100%;
            height: fit-content;
            color: $white;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

            h3 {
              font-weight: 600;
              font-size: 24px;
              margin-bottom: 24px;
            }
          }
        }
      }

      @media screen and (max-width: 800px) {
        .card-1, .card-2, .card-3, .card-4 {
          width: 95vw;
          height: 95vw;
        }
      }

      @include mobile {
        .card-4 {
          display: none;
        }
      }
    }

    >a {
      margin: 48px auto;
      font-size: $f5;
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      @include transition;

      &:hover {
        opacity: 0.34;
      }

      i {
        margin-left: 8px;
      }
    }
  }

  .brochure {
    padding: 30px;
    margin: 48px auto;

    @media screen and (max-width: 1100px) {
      padding: 0px;
    }

    @include tablet {
      padding: 30px;
    }

    @include mobile {
      padding: 0px;
    }

    a {
      @include flex(row, center, center);
      height: 300px;
      text-decoration: none;
      max-width: 1100px;
      margin: 0 auto;

      .card-texto {
        width: 42%;
        padding: 24px;
        background-color: #f4f4f4;
        height: 100%;
        color: $black;

        h3 {
          font-weight: 300;
          text-transform: uppercase;
          font-size: $f2;

          strong {
            font-weight: 500;
          }
        }

        h4 {
          text-transform: uppercase;
        }

        p {
          line-height: 1.5rem;
          font-size: 1rem;
        }

        h5 {
          text-transform: uppercase;
        }

        @include flex(column, space-between, flex-start);
      }

      .card-img {
        height: 100%;
        width: fit-content;

        img {
          height: 100%;
        }
      }

      @include tablet {
        flex-direction: column;
        height: auto;

        .card-texto {
          width: 100%;
          gap: 16px;
        }

        .card-img {
          width: 100%;
          height: auto;

          img {
            height: auto;
            width: 100%;
          }
        }
      }

      @include mobile {
        .card-img {
          display: none;
        }

        .card-texto {
          h3 {
          font-size: $f2-mb;
          }
        }
      }
    }
  }
}

.page-template-page-home {

  header,
  .mobile-header {
    nav {
      ul {
        li:nth-child(1) {
          a {
            color: #cecece;
          }
        }
      }
    }
  }
}