

.home {
    header, .mobile-header {
        nav {
            ul {
                li:nth-child(1) {
                    opacity: 0.34;
                    pointer-events: none;
                }
            }
        }
    }
}