@import 'designSystem';
@import 'header';
@import 'footer';
@import 'home';
@import 'equipa';
@import 'contacto';
@import 'sobre';
@import 'videos';
@import 'projetos';
@import 'blog';
@import '404';

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body, html {
    scroll-behavior: smooth;
}