@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: calc(100% - 60px);
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}

.interna > h1, .interna > p {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
}
.interna > h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 3rem;
}
.interna > h1 span {
  font-weight: 300;
}
.interna > p {
  font-size: 20px;
  margin-bottom: 64px;
  line-height: 2rem;
  max-width: 780px;
}
.interna .galeria {
  margin: 48px auto;
  width: 100%;
  max-width: 1200px;
}
.interna .galeria .owl-carousel {
  width: 95%;
  margin: 0 auto;
}
.interna .galeria .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: -4.5%;
  width: 109%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.interna .galeria .owl-carousel .owl-nav .owl-prev, .interna .galeria .owl-carousel .owl-nav .owl-next {
  background-color: #2E3934;
  color: #FFF;
  width: 50px;
  height: 36px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.interna .galeria .owl-carousel .owl-dots {
  width: 100%;
  height: 3px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.interna .galeria .owl-carousel .owl-dots button {
  height: 100%;
  width: 50px;
  background-color: #2E3934;
  opacity: 0.34;
}
@media screen and (max-width: 980px) {
  .interna .galeria .owl-carousel .owl-dots {
    gap: 16px;
  }
  .interna .galeria .owl-carousel .owl-dots button {
    width: 42px;
  }
}
@media screen and (max-width: 600px) {
  .interna .galeria .owl-carousel .owl-dots {
    gap: 10px;
  }
  .interna .galeria .owl-carousel .owl-dots button {
    width: 32px;
  }
}
.interna .galeria .owl-carousel .owl-dots .active {
  opacity: 1;
}
@media screen and (max-width: 980px) {
  .interna > h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .interna > h1 {
    font-size: 36px;
  }
  .interna > p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.zoom-in-hover {
  transition: 3000ms;
}
.zoom-in-hover:hover {
  transform: scale(1.25);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 0px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #2E3934;
  transition: all ease-in-out 0.4s;
}
header nav ul li a:hover {
  color: #cecece;
}
header .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header .links .bt-language {
  color: #2E3934;
  opacity: 0.34;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
}
header .links > a {
  font-size: 14px;
  text-decoration: none;
  color: #2E3934;
}
header .links .social a {
  text-decoration: none;
  color: #2E3934;
  opacity: 0.34;
  margin-left: 6px;
  font-size: 1.6rem;
  transition: all ease-in-out 0.4s;
}
header .links .social a:first-child {
  margin-left: 0px;
}
header .links .social a:hover {
  opacity: 1;
}
header #btOpenMenu {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}
header .brochure-newsletter {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #2E3934;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
header .brochure-newsletter a {
  text-decoration: none;
  color: #2E3934;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
}
header .brochure-newsletter a:hover {
  opacity: 0.34;
}
header .brochure-newsletter span {
  opacity: 0.34;
}
@media screen and (max-width: 980px) {
  header .links, header .brochure-newsletter, header nav {
    display: none;
  }
  header #btOpenMenu {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  header .logo {
    width: 60%;
    max-width: 250px;
  }
  header .logo img {
    width: 100%;
  }
}

.mobile-header {
  position: fixed;
  top: 0px;
  right: -70%;
  width: 70%;
  max-width: 500px;
  height: 100vh;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  z-index: 999;
  transition: all ease-in-out 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mobile-header #btCloseMenu {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  font-size: 1.6rem;
}
.mobile-header nav ul {
  list-style: none;
}
.mobile-header nav ul li {
  text-align: center;
  margin-top: 1rem;
}
.mobile-header nav ul li a {
  text-decoration: none;
  color: #2E3934;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
}
.mobile-header nav ul li a:hover {
  color: #cecece;
}
.mobile-header .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.mobile-header .links .bt-language {
  text-transform: capitalize;
  color: #2E3934;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
  font-size: 14px;
  font-weight: 600;
}
.mobile-header .links .bt-language:hover {
  opacity: 1;
}
.mobile-header .links > a {
  text-decoration: none;
  color: #2E3934;
  font-size: 14px;
}
.mobile-header .links .social a {
  text-decoration: none;
  color: #2E3934;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
  font-size: 25px;
}
.mobile-header .links .social a:hover {
  opacity: 1;
}
.mobile-header .links .brochure-newsletter a {
  text-decoration: none;
  color: #2E3934;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.mobile-header .links .brochure-newsletter span {
  color: #2E3934;
  opacity: 0.34;
}
@media screen and (max-width: 600px) {
  .mobile-header nav ul li a {
    font-size: 20px;
  }
}

.active {
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#btScrollUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: fixed;
  bottom: 10%;
  right: 32px;
  width: 70px;
  height: 70px;
  background-color: #FFF;
  z-index: 990;
  border-radius: 50%;
  transition: all ease-in-out 0.4s;
}
#btScrollUp i {
  font-size: 20px;
}
#btScrollUp span {
  font-size: 12px;
  color: #2E3934;
  text-align: center;
  font-weight: 500;
}

#btScrollUp.hide {
  opacity: 0;
  visibility: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}
footer .newsletter, footer .contacts {
  width: 100%;
  padding: 32px;
  border-top: 2px solid #e4e4e4;
}
footer .newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
footer .newsletter h3 {
  font-size: 25px;
  font-weight: 500;
  color: #2E3934;
  text-transform: uppercase;
}
footer .newsletter h3 span {
  color: #6D6E72;
  border-bottom: 2px solid #e4e4e4;
}
footer .newsletter form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 60%;
}
footer .newsletter form .input-wrapper {
  background-color: #F4F4F4;
  padding: 12px;
  width: 70%;
  display: grid;
  grid-template-columns: 3fr 0.9fr;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
footer .newsletter form .input-wrapper input, footer .newsletter form .input-wrapper button {
  border: none;
  background: none;
  outline: none;
}
footer .newsletter form .input-wrapper input::placeholder {
  color: #c5c5c5;
}
footer .newsletter form .input-wrapper input, footer .newsletter form .input-wrapper input::placeholder {
  font-size: 14px;
}
footer .newsletter form .input-wrapper button {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
footer .newsletter form .input-wrapper button i {
  margin-left: 6px;
  transform: scale(1.3, 1);
}
footer .newsletter form label {
  width: max-content;
  cursor: pointer;
  font-size: 14px;
}
footer .contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .contacts a {
  color: #2E3934;
  text-decoration: none;
  font-size: 14px;
}
footer .contacts a span {
  opacity: 0.34;
  text-transform: uppercase;
  font-weight: 500;
}
footer .contacts a address {
  font-style: normal;
  text-transform: capitalize;
}
footer .contacts .phone span {
  opacity: 1;
  text-transform: capitalize;
  font-weight: 400;
}
footer .contacts .social a {
  font-size: 25px;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
}
footer .contacts .social a:hover {
  opacity: 1;
}
footer .contacts .social a:first-child {
  margin-right: 8px;
}
@media screen and (max-width: 980px) {
  footer .newsletter {
    flex-direction: column;
  }
  footer .newsletter form, footer .newsletter h3 {
    width: 100%;
    max-width: 500px;
  }
  footer .newsletter h3 {
    text-align: center;
  }
  footer .contacts {
    flex-direction: column;
    gap: 24px;
  }
  footer .contacts a {
    text-align: center;
  }
  footer .contacts div {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  footer .newsletter {
    padding: 32px 0px;
  }
  footer .newsletter form {
    flex-direction: column;
  }
  footer .newsletter form .input-wrapper {
    width: 100%;
    grid-template-columns: 5fr 2fr;
  }
  footer .contacts {
    padding: 32px 0px;
  }
}

.home .destaque {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.home .destaque .owl-carousel {
  width: 98%;
  margin: 0 auto;
}
.home .destaque .owl-carousel .item {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.home .destaque .owl-carousel .item .item-left,
.home .destaque .owl-carousel .item .item-right {
  position: relative;
}
.home .destaque .owl-carousel .item .item-left > div,
.home .destaque .owl-carousel .item .item-left span,
.home .destaque .owl-carousel .item .item-right > div,
.home .destaque .owl-carousel .item .item-right span {
  position: absolute;
  z-index: 900;
}
.home .destaque .owl-carousel .item .item-left {
  transform: translateX(0%);
}
.home .destaque .owl-carousel .item .item-right span {
  bottom: 0px;
  left: 0px;
  text-transform: uppercase;
  background-color: #FFF;
  font-size: 14px;
  padding: 8px;
  transition: all ease-in-out 0.4s;
}
.home .destaque .owl-carousel .item #firstBannerLeft {
  transition: 800ms;
  z-index: 550;
  transform: translateX(-103%);
}
.home .destaque .owl-carousel .item #firstBannerLeft > div {
  top: 34%;
  right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 0px;
  transition: ease-out 1200ms;
}
.home .destaque .owl-carousel .item #firstBannerLeft > div p {
  font-size: 40px;
  background-color: #FFF;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.home .destaque .owl-carousel .item #firstBannerRight {
  transition: 800ms;
  transform: translateX(103%);
}
.home .destaque .owl-carousel .item #firstBannerRight > div {
  top: 43%;
  left: -375px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  transition: ease-out 630ms;
  z-index: 500;
  visibility: hidden;
}
.home .destaque .owl-carousel .item #firstBannerRight p {
  font-size: 25px;
  text-transform: uppercase;
  background-color: #FFF;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.home .destaque .owl-carousel .item #firstBannerRight p strong {
  font-weight: 600;
}
.home .destaque .owl-carousel .item #firstBannerRight span {
  bottom: -60px;
}
@media screen and (max-width: 980px) {
  .home .destaque .owl-carousel .item {
    gap: 0px;
  }
  .home .destaque .owl-carousel .item .item-left {
    display: none;
  }
  .home .destaque .owl-carousel .item #firstBannerRight > div {
    top: 36%;
  }
  .home .destaque .owl-carousel .item .item-right {
    min-width: 96vw;
  }
}
@media screen and (max-width: 980px) {
  .home .destaque .owl-carousel {
    width: 100%;
  }
}
.home .destaque .owl-nav {
  position: absolute;
  top: 50%;
  left: -1%;
  width: 102%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 420ms;
}
.home .destaque .owl-nav .owl-prev,
.home .destaque .owl-nav .owl-next {
  background-color: #2E3934 !important;
  color: #FFF !important;
  width: 50px !important;
  height: 36px !important;
  font-size: 20px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home .destaque .owl-dots {
  width: 100%;
  height: 3px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  opacity: 0;
  transition: all 420ms;
}
.home .destaque .owl-dots button {
  height: 100%;
  width: 50px;
  background-color: #2E3934;
  opacity: 0.34;
}
@media screen and (max-width: 980px) {
  .home .destaque .owl-dots {
    gap: 16px;
  }
  .home .destaque .owl-dots button {
    width: 42px;
  }
}
@media screen and (max-width: 600px) {
  .home .destaque .owl-dots {
    gap: 10px;
  }
  .home .destaque .owl-dots button {
    width: 32px;
  }
}
.home .destaque .owl-dots .active {
  opacity: 1;
}
.home .projetos {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.home .projetos > h2 {
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 48px;
  text-transform: uppercase;
  padding: 16px;
}
.home .projetos > h2 span {
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  .home .projetos > h2 {
    font-size: 36px;
    padding-bottom: 16px;
  }
}
.home .projetos > p {
  font-size: 20px;
  max-width: 1000px;
  text-align: center;
  line-height: 1.6rem;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 16px;
}
@media screen and (max-width: 600px) {
  .home .projetos > p {
    font-size: 1rem;
    padding-top: 0px;
  }
}
.home .projetos .projetos-galeria {
  position: relative;
}
.home .projetos .projetos-galeria .owl-carousel .item {
  position: relative;
}
.home .projetos .projetos-galeria .owl-carousel .item .ficha {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #efefef;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  text-transform: uppercase;
}
.home .projetos .projetos-galeria .owl-carousel .item .ficha > span {
  color: #adadad;
  text-decoration: none;
  font-size: 12px;
}
.home .projetos .projetos-galeria .owl-carousel .item .ficha > h3 {
  font-weight: 600;
  font-size: 20px;
}
.home .projetos .projetos-galeria .owl-carousel .item .ficha .lista-infos {
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
}
.home .projetos .projetos-galeria .owl-carousel .item .ficha > a {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.home .projetos .projetos-galeria .owl-carousel .item img, .home .projetos .projetos-galeria .owl-carousel .item .ficha {
  cursor: pointer;
}
@media screen and (max-width: 980px) {
  .home .projetos .projetos-galeria .owl-carousel .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .home .projetos .projetos-galeria .owl-carousel .item .ficha {
    position: static;
    width: 100%;
  }
}
.home .projetos .projetos-galeria .owl-carousel .owl-stage-outer .owl-stage > div {
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
}
.home .projetos .projetos-galeria .owl-carousel .owl-stage-outer .owl-stage > div.active {
  opacity: 1;
  box-shadow: 0px 0px 0px white;
}
.home .projetos .projetos-galeria .owl-carousel .owl-nav {
  position: static;
  width: 100%;
  justify-content: center;
  transform: translateY(0%);
  margin-top: 32px;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .home .projetos .projetos-galeria .owl-carousel .owl-nav {
    gap: 8px;
  }
}
.home .projetos .projetos-galeria .owl-carousel .owl-nav .owl-prev, .home .projetos .projetos-galeria .owl-carousel .owl-nav .owl-next {
  background: none;
  color: #adadad;
}
.home .projetos .projetos-galeria .owl-carousel .owl-nav > a {
  color: #adadad;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  transform: translateY(-20%);
}
.home .news img, .home .brochure img {
  display: none;
}

.page-template-page-home header nav ul li:nth-child(1) a,
.page-template-page-home .mobile-header nav ul li:nth-child(1) a {
  color: #cecece;
}

.interna-equipa .equipa-cards {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.interna-equipa .equipa-cards .card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 48px;
}
.interna-equipa .equipa-cards .card .card-img img {
  width: 100%;
}
.interna-equipa .equipa-cards .card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.interna-equipa .equipa-cards .card .card-info h3 {
  text-transform: uppercase;
}
.interna-equipa .equipa-cards .card .card-info p {
  text-align: justify;
  line-height: 1.5rem;
}
.interna-equipa .equipa-cards .card .card-info .card-line {
  width: 50px;
  height: 2px;
  background-color: #2E3934;
  opacity: 0.34;
}
.interna-equipa .equipa-cards .card .card-info .social a {
  font-size: 25px;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
  text-decoration: none;
  color: #2E3934;
}
.interna-equipa .equipa-cards .card .card-info .social a:hover {
  opacity: 1;
}
.interna-equipa .equipa-cards .card .card-info .social a:first-child {
  margin-right: 8px;
}
@media screen and (max-width: 980px) {
  .interna-equipa .equipa-cards .card {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .interna-equipa .equipa-cards .card .card-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .interna-equipa .equipa-cards .card .card-img img {
    max-width: 280px;
  }
  .interna-equipa .equipa-cards .card .card-info {
    align-items: center;
  }
  .interna-equipa .equipa-cards .card .card-info h3, .interna-equipa .equipa-cards .card .card-info p {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .interna-equipa .equipa-cards .card-info p {
    font-size: 14px;
  }
}

.page-template-page-equipa header nav ul li:nth-child(3) a, .page-template-page-equipa .mobile-header nav ul li:nth-child(3) a {
  color: #cecece;
}

main.contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
main.contato .ctt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}
main.contato .ctt-wrapper .contacto-header {
  margin-top: 3rem;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  line-height: 54.86px;
}
@media screen and (max-width: 600px) {
  main.contato .ctt-wrapper .contacto-header {
    font-size: 36px;
  }
}
main.contato .ctt-wrapper .contacto-header b {
  font-weight: 500;
}
main.contato .ctt-wrapper .contacto-sub-titulo {
  font-size: 20px;
  margin-top: 3rem;
  text-align: center;
  padding: 0 15%;
  line-height: 24px;
}
@media screen and (max-width: 600px) {
  main.contato .ctt-wrapper .contacto-sub-titulo {
    font-size: 16px;
  }
}
main.contato .ctt-wrapper .contacto-linha {
  width: 85%;
  margin: 4rem auto;
  height: 3px;
  background-color: #e4e4e4;
}
main.contato .ctt-wrapper #wrapper-teste {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: #727377;
  margin-bottom: 88px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-right: 29px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left input {
  width: 100%;
  height: 36px;
  background: #F9F8F6;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 0px 2px #F5F5F5;
  border-radius: 4px;
  margin: 11px 0 11px 0;
  transition: all ease-in-out 0.4s;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-left: 29px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right textarea {
  width: 100%;
  height: 300px;
  background: #F9F8F6;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  resize: none;
  transition: all ease-in-out 0.4s;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right label {
  cursor: pointer;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper .wpcf7-submit {
  color: #ffffff;
  background-color: #000000;
  padding: 8px;
  text-transform: uppercase;
  transition: all ease-in-out 0.4s;
  border-radius: 6px;
  border: 2px solid #000000;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  height: 57px;
  width: 189px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper .wpcf7-submit:hover {
  color: #000000;
  background-color: #ffffff;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper span {
  margin: 0;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper .wpcf7-spinner {
  display: none;
}
@media screen and (max-width: 600px) {
  main.contato .ctt-wrapper #wrapper-teste {
    flex-direction: column;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left {
    width: 100% !important;
    align-items: center;
    margin-right: 0;
    font-size: 16px;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left label {
    width: 90%;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right {
    width: 100% !important;
    align-items: center;
    margin-left: 0;
    margin-top: 32px;
    font-size: 16px;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right label {
    width: 90%;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main.contato iframe {
  max-width: 100%;
  margin-bottom: 54px;
}

.page-template-page-contato header nav ul li:nth-child(7) a,
.page-template-page-contato .mobile-header nav ul li:nth-child(7) a {
  color: #cecece;
}

.interna-sobre > p {
  max-width: 1000px;
}
.interna-sobre .quote {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 32px;
  background-image: url("../img/left-quote.png"), url("../img/right-quote.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, 100% 70%;
  background-size: 80px, 80px;
}
.interna-sobre .quote > p {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}
.interna-sobre .quote h3 {
  max-width: 780px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
}
.interna-sobre .map iframe {
  width: 100%;
  margin-bottom: 64px;
  margin-top: 32px;
}
@media screen and (max-width: 980px) {
  .interna-sobre .quote {
    background-size: 10%, 10%;
    padding: 32px 16px;
  }
}
@media screen and (max-width: 600px) {
  .interna-sobre .quote p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .interna-sobre .quote h3 {
    font-size: 1rem;
  }
}

.page-template-page-sobre header nav ul li:nth-child(2) a, .page-template-page-sobre .mobile-header nav ul li:nth-child(2) a {
  color: #cecece;
}

main.videos .videos-header {
  text-align: center;
  font-weight: 300;
  font-size: 45px;
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  main.videos .videos-header {
    font-size: 36px;
  }
}
main.videos .videos-header b {
  font-weight: 500;
}
main.videos .videos-sub-titulo {
  font-size: 20px;
  margin-top: 3rem;
  text-align: center;
  padding: 0 15%;
  line-height: 24px;
  margin-bottom: 72px;
}
@media screen and (max-width: 600px) {
  main.videos .videos-sub-titulo {
    font-size: 16px;
    margin-bottom: 46px;
  }
}
main.videos .videos-wrapper {
  padding: 0 15%;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 600px) {
  main.videos .videos-wrapper {
    padding: 0 5%;
  }
  main.videos .videos-wrapper iframe {
    height: 275px;
  }
}
main.videos .videos-wrapper .wrapper-videos1 {
  margin-top: 48px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 980px) {
  main.videos .videos-wrapper .wrapper-videos1 {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}
main.videos .videos-wrapper .wrapper-videos2 {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 72px;
}
@media screen and (max-width: 980px) {
  main.videos .videos-wrapper .wrapper-videos2 {
    grid-template-columns: 1fr;
  }
}

.page-template-page-videos header nav ul li:nth-child(6) a,
.page-template-page-videos .mobile-header nav ul li:nth-child(6) a {
  color: #cecece;
}

.interna-projetos .categorias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  margin: 64px 0px;
}
.interna-projetos .categorias li {
  padding: 8px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 20px;
  color: #adadad;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.interna-projetos .categorias li:hover {
  background-color: #d6fff6;
}
.interna-projetos .categorias li.active {
  background-color: #5accb1;
  border-color: #5accb1;
  color: #FFF;
  box-shadow: none;
}
.interna-projetos .projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 8px 12px;
  margin-bottom: 32px;
}
.interna-projetos .projetos .projeto-card {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: fit-content;
}
.interna-projetos .projetos .projeto-card h2 {
  background-color: #FFF;
  color: #2E3934;
  font-weight: 500;
  position: absolute;
  bottom: 10%;
  padding: 12px;
  text-transform: uppercase;
  font-size: 25px;
}
.interna-projetos .projetos .projeto-card img {
  width: 100%;
  transform: scale(1.02);
  transition: all ease-in-out 0.4s;
}
.interna-projetos .projetos .projeto-card:hover img {
  transform: scale(1.08);
}
.interna-projetos .projetos .hide {
  display: none;
}
@media screen and (max-width: 980px) {
  .interna-projetos .projetos {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .interna-projetos .categorias {
    margin-bottom: 32px;
  }
  .interna-projetos .projetos .projeto-card h2 {
    font-size: 20px;
  }
}

.interna-projeto {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interna-projeto > a {
  color: #adadad;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  transition: all ease-in-out 0.4s;
  width: 100%;
  text-align: left;
}
.interna-projeto > a:hover {
  color: #2E3934;
}
.interna-projeto > h1 {
  margin-top: 1rem;
  max-width: 100%;
}
.interna-projeto > h1 span {
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  .interna-projeto > h1 span {
    font-size: 27px;
  }
}
.interna-projeto > img {
  max-width: 1440px;
  width: 100vw;
}
.interna-projeto .sobre-projeto {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 7%;
}
.interna-projeto .sobre-projeto .texto-sobre {
  min-height: 300px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 48px 0px;
  width: 48%;
}
.interna-projeto .sobre-projeto .texto-sobre h2 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 500;
}
.interna-projeto .sobre-projeto .texto-sobre h2 span {
  font-weight: 300;
}
.interna-projeto .sobre-projeto .texto-sobre p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.8rem;
}
.interna-projeto .sobre-projeto .detalhes-tecnicos {
  background-color: #efefef;
  padding: 32px;
  width: 52%;
  transform: translateY(-20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.interna-projeto .sobre-projeto .detalhes-tecnicos > span {
  color: #adadad;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.interna-projeto .sobre-projeto .detalhes-tecnicos > h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.interna-projeto .sobre-projeto .detalhes-tecnicos .lista-infos {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.interna-projeto .sobre-projeto .detalhes-tecnicos p {
  font-size: 14px;
  text-align: justify;
  color: #2E3934;
}
.interna-projeto .sobre-projeto .detalhes-tecnicos .lista-topicos {
  font-size: 14px;
  margin-left: 1.6rem;
  color: #2E3934;
}
.interna-projeto .galeria {
  position: relative;
}
.interna-projeto .galeria .owl-carousel .owl-stage-outer .owl-stage > div {
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
}
.interna-projeto .galeria .owl-carousel .owl-stage-outer .owl-stage > div.active {
  opacity: 1;
}
.interna-projeto .galeria .owl-carousel .owl-nav {
  position: static;
  width: 100%;
  justify-content: center;
  transform: translateY(0%);
  margin-top: 32px;
  gap: 1rem;
}
.interna-projeto .galeria .owl-carousel .owl-nav .owl-prev, .interna-projeto .galeria .owl-carousel .owl-nav .owl-next {
  background: none;
  color: #adadad;
}
.interna-projeto .galeria .owl-carousel .owl-nav > span {
  color: #adadad;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.interna-projeto .relacionados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #f4f4f4;
  width: 100vw;
  padding: 48px 0px;
}
.interna-projeto .relacionados > h3 {
  text-transform: uppercase;
  font-weight: 500;
}
.interna-projeto .relacionados > h3 span {
  font-weight: 300;
}
.interna-projeto .relacionados .cards-relacionados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 12px;
}
.interna-projeto .relacionados .cards-relacionados .card {
  position: relative;
  text-decoration: none;
  color: #2E3934;
  overflow: hidden;
}
.interna-projeto .relacionados .cards-relacionados .card img {
  width: 100%;
  transform: scale(1.02);
  transition: all ease-in-out 0.4s;
}
.interna-projeto .relacionados .cards-relacionados .card h3 {
  background-color: #FFF;
  font-weight: 500;
  padding: 8px;
  text-transform: uppercase;
  position: absolute;
  bottom: 12%;
}
.interna-projeto .relacionados .cards-relacionados .card:hover img {
  transform: scale(1.08);
}
.interna-projeto .relacionados > a {
  color: #adadad;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  transition: all ease-in-out 0.4s;
}
.interna-projeto .relacionados > a:hover {
  color: #2E3934;
}
.interna-projeto .relacionados select {
  margin-top: -1rem;
  text-transform: uppercase;
  background: none;
  border: 2px solid #dcdcdc;
  padding: 6px;
  border-radius: 20px;
  font-size: 12px;
  color: #adadad;
  outline: none;
  cursor: pointer;
  text-align-last: center;
}
.interna-projeto .relacionados select option {
  text-align: center;
}
@media screen and (max-width: 980px) {
  .interna-projeto .sobre-projeto {
    flex-direction: column;
  }
  .interna-projeto .sobre-projeto .detalhes-tecnicos, .interna-projeto .sobre-projeto .texto-sobre {
    transform: translateY(0%);
    width: 100%;
    max-width: 800px;
  }
  .interna-projeto .sobre-projeto .texto-sobre {
    min-height: fit-content;
    padding: 32px 0px;
  }
  .interna-projeto .sobre-projeto .texto-sobre h2, .interna-projeto .sobre-projeto .texto-sobre p {
    width: 100%;
    text-align: center;
  }
  .interna-projeto .relacionados .cards-relacionados {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .interna-projeto .relacionados .cards-relacionados .card {
    max-width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .interna-projeto .sobre-projeto .texto-sobre h2 {
    font-size: 36px;
  }
  .interna-projeto .sobre-projeto .texto-sobre p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

.post-type-archive-projetos header nav ul li:nth-child(4) a, .post-type-archive-projetos .mobile-header nav ul li:nth-child(4) a, .single-projetos header nav ul li:nth-child(4) a, .single-projetos .mobile-header nav ul li:nth-child(4) a {
  color: #cecece;
}

main.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}
main.blog .blog-header {
  margin-top: 3rem;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  line-height: 54.86px;
}
@media screen and (max-width: 600px) {
  main.blog .blog-header {
    font-size: 36px;
  }
}
main.blog .blog-header b {
  font-weight: 500;
}
main.blog .blog-sub-titulo {
  font-size: 20px;
  margin-top: 3rem;
  text-align: center;
  padding: 0 15%;
  line-height: 24px;
}
@media screen and (max-width: 600px) {
  main.blog .blog-sub-titulo {
    font-size: 16px;
    padding: 0;
    margin-top: 0;
  }
}
main.blog .blog-linha {
  width: 95%;
  margin: 0 auto 46px auto;
  height: 3px;
  background-color: #e4e4e4;
}
main.blog .content-blog-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 980px) {
  main.blog .content-blog-section {
    flex-direction: column;
    align-items: center;
  }
}
main.blog .content-blog-section div.blog-content-wrapper {
  width: 65%;
}
@media screen and (max-width: 980px) {
  main.blog .content-blog-section div.blog-content-wrapper {
    width: 95%;
  }
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article img {
  width: 100%;
  height: auto;
  margin-bottom: 18px;
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article h2 {
  margin-bottom: 8px;
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article h2 a {
  font-size: 25px;
  color: #727377;
  text-decoration: none;
  font-weight: 300;
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article h6 {
  margin-bottom: 75px;
  color: #5ACCB1;
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article h6 a {
  color: #5ACCB1;
  font-size: 18px;
  text-decoration: none;
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article h6 a:nth-child(1) {
  display: none;
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article h6 a::before {
  content: "#";
}
main.blog .content-blog-section div.blog-content-wrapper .content-blog-article .line-post {
  margin-bottom: 80px;
  background: #D9D9D9;
  height: 2px;
}
main.blog .content-blog-section div.blog-content-wrapper .nav-pagination-wrapper {
  display: flex;
  width: 100%;
  margin-top: -80px;
}
main.blog .content-blog-section div.blog-content-wrapper .nav-pagination-wrapper nav.pagination {
  flex-wrap: wrap;
  color: #B7B7B7;
  font-size: 20px;
  margin-top: 18px;
}
main.blog .content-blog-section div.blog-content-wrapper .nav-pagination-wrapper nav.pagination span {
  width: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #5ACCB1;
  color: #FFFFFF;
}
main.blog .content-blog-section div.blog-content-wrapper .nav-pagination-wrapper nav.pagination a {
  width: 16px;
  height: 8px;
  margin: 1rem;
  text-decoration: none;
  color: #B7B7B7;
}
main.blog .content-blog-section div.blog-content-wrapper .nav-pagination-wrapper nav.pagination a:nth-last-child(1) {
  display: none;
}
main.blog .content-blog-section div.blog-content-wrapper .nav-pagination-wrapper nav.pagination .prev {
  display: none;
}
main.blog .content-blog-section .aside-container {
  width: 25%;
  height: fit-content;
}
@media screen and (max-width: 980px) {
  main.blog .content-blog-section .aside-container {
    width: 95%;
    margin-top: 2rem;
  }
}
main.blog .content-blog-section .aside-container .cat-container {
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 35px;
  text-decoration: none;
  margin-bottom: 35px;
}
main.blog .content-blog-section .aside-container .cat-container .title-wrapper-aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main.blog .content-blog-section .aside-container .cat-container .title-wrapper-aside h4 {
  font-size: 18px;
  color: #E0E0E0;
}
main.blog .content-blog-section .aside-container .cat-container .title-wrapper-aside .linha-aside {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #E0E0E0;
  margin: 8px 0 8px 8px;
}
main.blog .content-blog-section .aside-container .cat-container .categorias-lista {
  text-decoration: none;
  list-style-type: decimal-leading-zero;
}
main.blog .content-blog-section .aside-container .cat-container .categorias-lista li {
  text-decoration: none;
  list-style-type: decimal-leading-zero;
  margin-top: 35px;
  margin-left: 35px;
  font-weight: bold;
  text-transform: lowercase;
}
main.blog .content-blog-section .aside-container .cat-container .categorias-lista li::marker {
  font-weight: 300;
}
main.blog .content-blog-section .aside-container .cat-container .categorias-lista li:nth-child(1) {
  display: none;
}
main.blog .content-blog-section .aside-container .cat-container .categorias-lista li:nth-last-child(1) {
  margin-bottom: 35px;
}
main.blog .content-blog-section .aside-container .cat-container .categorias-lista li:first-letter {
  text-transform: uppercase;
}
main.blog .content-blog-section .aside-container .cat-container .categorias-lista li a {
  text-decoration: none;
  list-style-type: none;
  color: #2E3934;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container {
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 35px;
  text-decoration: none;
  margin-bottom: 35px;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .title-wrapper-aside2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .title-wrapper-aside2 .h4-aside-config {
  font-size: 18px;
  color: #E0E0E0;
  text-transform: uppercase;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .title-wrapper-aside2 .linha-aside {
  display: flex;
  justify-content: center;
  width: 35%;
  border: 1px solid #E0E0E0;
  margin: 8px 0 8px 8px;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .categorias-lista-2 {
  text-decoration: none;
  list-style-type: none;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .categorias-lista-2 .li-lista-2 {
  text-decoration: none;
  list-style-type: none;
  margin-top: 35px;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .categorias-lista-2 .li-lista-2 h2 {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 300;
  text-transform: lowercase;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .categorias-lista-2 .li-lista-2 h2 a {
  text-decoration: none;
  list-style-type: none;
  color: #2E3934;
}
main.blog .content-blog-section .aside-container .ultimas-noticias-container .categorias-lista-2 .li-lista-2 h2:first-letter {
  text-transform: uppercase;
}
main.blog .content-blog-section .aside-container .tag-container {
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 8px 35px;
  text-decoration: none;
}
main.blog .content-blog-section .aside-container .tag-container .categorias-lista {
  text-decoration: none;
  list-style-type: none;
}
main.blog .content-blog-section .aside-container .tag-container .categorias-lista li {
  text-decoration: none;
  list-style-type: none;
  margin-top: 35px;
  font-weight: bold;
  text-transform: lowercase;
}
main.blog .content-blog-section .aside-container .tag-container .categorias-lista li:nth-last-child(1) {
  margin-bottom: 35px;
}
main.blog .content-blog-section .aside-container .tag-container .categorias-lista li:first-letter {
  text-transform: uppercase;
}
main.blog .content-blog-section .aside-container .tag-container .categorias-lista li a {
  text-decoration: none;
  list-style-type: none;
  color: #5ACCB1;
}
main.blog .content-blog-section .aside-container .tag-container .categorias-lista li a::before {
  content: "#";
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
