@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: calc(100% - 60px);
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}

.interna > h1, .interna > p {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
}
.interna > h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 3rem;
}
.interna > h1 span {
  font-weight: 300;
}
.interna > p {
  font-size: 20px;
  margin-bottom: 64px;
  line-height: 2rem;
  max-width: 780px;
}
.interna .galeria {
  margin: 48px auto;
  width: 100%;
  max-width: 1200px;
}
.interna .galeria .owl-carousel {
  width: 95%;
  margin: 0 auto;
}
.interna .galeria .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: -4.5%;
  width: 109%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.interna .galeria .owl-carousel .owl-nav .owl-prev, .interna .galeria .owl-carousel .owl-nav .owl-next {
  background-color: #2E3934;
  color: #FFF;
  width: 50px;
  height: 36px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.interna .galeria .owl-carousel .owl-dots {
  width: 100%;
  height: 3px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.interna .galeria .owl-carousel .owl-dots button {
  height: 100%;
  width: 50px;
  background-color: #2E3934;
  opacity: 0.34;
}
.interna .galeria .owl-carousel .owl-dots .active {
  opacity: 1;
}
@media screen and (max-width: 980px) {
  .interna > h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .interna > h1 {
    font-size: 36px;
  }
  .interna > p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.zoom-in-hover {
  transition: 3000ms;
}
.zoom-in-hover:hover {
  transform: scale(1.25);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 0px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #2E3934;
  transition: all ease-in-out 0.4s;
}
header nav ul li a:hover {
  opacity: 0.34;
}
header .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header .links .bt-language {
  color: #2E3934;
  opacity: 0.34;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
}
header .links > a {
  font-size: 14px;
  text-decoration: none;
  color: #2E3934;
}
header .links .social a {
  text-decoration: none;
  color: #2E3934;
  opacity: 0.34;
  margin-left: 6px;
  font-size: 1.6rem;
  transition: all ease-in-out 0.4s;
}
header .links .social a:first-child {
  margin-left: 0px;
}
header .links .social a:hover {
  opacity: 1;
}
header #btOpenMenu {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}
header .brochure-newsletter {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #2E3934;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
header .brochure-newsletter a {
  text-decoration: none;
  color: #2E3934;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
}
header .brochure-newsletter a:hover {
  opacity: 0.34;
}
header .brochure-newsletter span {
  opacity: 0.34;
}
@media screen and (max-width: 980px) {
  header .links, header .brochure-newsletter, header nav {
    display: none;
  }
  header #btOpenMenu {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  header .logo {
    width: 60%;
    max-width: 250px;
  }
  header .logo img {
    width: 100%;
  }
}

.mobile-header {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-right: -70%;
  width: 70%;
  max-width: 500px;
  height: 100vh;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  z-index: 999;
  transition: all ease-in-out 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mobile-header #btCloseMenu {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  font-size: 1.6rem;
}
.mobile-header nav ul {
  list-style: none;
}
.mobile-header nav ul li {
  text-align: center;
  margin-top: 1rem;
}
.mobile-header nav ul li a {
  text-decoration: none;
  color: #2E3934;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all ease-in-out 0.4s;
}
.mobile-header nav ul li a:hover {
  opacity: 0.34;
}
.mobile-header .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.mobile-header .links .bt-language {
  text-transform: capitalize;
  color: #2E3934;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
  font-size: 14px;
  font-weight: 600;
}
.mobile-header .links .bt-language:hover {
  opacity: 1;
}
.mobile-header .links > a {
  text-decoration: none;
  color: #2E3934;
  font-size: 14px;
}
.mobile-header .links .social a {
  text-decoration: none;
  color: #2E3934;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
  font-size: 25px;
}
.mobile-header .links .social a:hover {
  opacity: 1;
}
.mobile-header .links .brochure-newsletter a {
  text-decoration: none;
  color: #2E3934;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.mobile-header .links .brochure-newsletter span {
  color: #2E3934;
  opacity: 0.34;
}
@media screen and (max-width: 600px) {
  .mobile-header nav ul li a {
    font-size: 20px;
  }
}

.active {
  margin-right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}
footer .newsletter, footer .contacts {
  width: 100%;
  padding: 32px;
  border-top: 2px solid #e4e4e4;
}
footer .newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
footer .newsletter h3 {
  font-size: 25px;
  font-weight: 500;
  color: #2E3934;
  text-transform: uppercase;
}
footer .newsletter h3 span {
  color: #6D6E72;
  border-bottom: 2px solid #e4e4e4;
}
footer .newsletter form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 60%;
}
footer .newsletter form .input-wrapper {
  background-color: #F4F4F4;
  padding: 12px;
  width: 70%;
  display: grid;
  grid-template-columns: 3fr 0.9fr;
  border-radius: 6px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
footer .newsletter form .input-wrapper input, footer .newsletter form .input-wrapper button {
  border: none;
  background: none;
  outline: none;
}
footer .newsletter form .input-wrapper input::placeholder {
  color: #c5c5c5;
}
footer .newsletter form .input-wrapper input, footer .newsletter form .input-wrapper input::placeholder {
  font-size: 14px;
}
footer .newsletter form .input-wrapper button {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
footer .newsletter form .input-wrapper button i {
  margin-left: 6px;
  transform: scale(1.3, 1);
}
footer .newsletter form label {
  width: max-content;
  cursor: pointer;
  font-size: 14px;
}
footer .contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .contacts a {
  color: #2E3934;
  text-decoration: none;
  font-size: 14px;
}
footer .contacts a span {
  opacity: 0.34;
  text-transform: uppercase;
  font-weight: 500;
}
footer .contacts a address {
  font-style: normal;
  text-transform: capitalize;
}
footer .contacts .phone span {
  opacity: 1;
  text-transform: capitalize;
  font-weight: 400;
}
footer .contacts .social a {
  font-size: 25px;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
}
footer .contacts .social a:hover {
  opacity: 1;
}
footer .contacts .social a:first-child {
  margin-right: 8px;
}
@media screen and (max-width: 980px) {
  footer .newsletter {
    flex-direction: column;
  }
  footer .newsletter form, footer .newsletter h3 {
    width: 100%;
    max-width: 500px;
  }
  footer .newsletter h3 {
    text-align: center;
  }
  footer .contacts {
    flex-direction: column;
    gap: 24px;
  }
  footer .contacts a {
    text-align: center;
  }
  footer .contacts div {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  footer .newsletter {
    padding: 32px 0px;
  }
  footer .newsletter form {
    flex-direction: column;
  }
  footer .newsletter form .input-wrapper {
    width: 100%;
    grid-template-columns: 5fr 2fr;
  }
  footer .contacts {
    padding: 32px 0px;
  }
}

.home header nav ul li:nth-child(1), .home .mobile-header nav ul li:nth-child(1) {
  opacity: 0.34;
  pointer-events: none;
}

.interna-equipa .equipa-cards {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.interna-equipa .equipa-cards .card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 48px;
}
.interna-equipa .equipa-cards .card .card-img img {
  width: 100%;
}
.interna-equipa .equipa-cards .card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.interna-equipa .equipa-cards .card .card-info h3 {
  text-transform: uppercase;
}
.interna-equipa .equipa-cards .card .card-info p {
  text-align: justify;
  line-height: 1.5rem;
}
.interna-equipa .equipa-cards .card .card-info .card-line {
  width: 50px;
  height: 2px;
  background-color: #2E3934;
  opacity: 0.34;
}
.interna-equipa .equipa-cards .card .card-info .social a {
  font-size: 25px;
  opacity: 0.34;
  transition: all ease-in-out 0.4s;
  text-decoration: none;
  color: #2E3934;
}
.interna-equipa .equipa-cards .card .card-info .social a:hover {
  opacity: 1;
}
.interna-equipa .equipa-cards .card .card-info .social a:first-child {
  margin-right: 8px;
}
@media screen and (max-width: 980px) {
  .interna-equipa .equipa-cards .card {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .interna-equipa .equipa-cards .card .card-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .interna-equipa .equipa-cards .card .card-img img {
    max-width: 280px;
  }
  .interna-equipa .equipa-cards .card .card-info {
    align-items: center;
  }
  .interna-equipa .equipa-cards .card .card-info h3, .interna-equipa .equipa-cards .card .card-info p {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .interna-equipa .equipa-cards .card-info p {
    font-size: 14px;
  }
}

.page-template-page-equipa header nav ul li:nth-child(3), .page-template-page-equipa .mobile-header nav ul li:nth-child(3) {
  opacity: 0.34;
  pointer-events: none;
}

main.contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
main.contato .ctt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}
main.contato .ctt-wrapper .contacto-header {
  margin-top: 3rem;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  line-height: 54.86px;
}
@media screen and (max-width: 600px) {
  main.contato .ctt-wrapper .contacto-header {
    font-size: 36px;
  }
}
main.contato .ctt-wrapper .contacto-header b {
  font-weight: 500;
}
main.contato .ctt-wrapper .contacto-sub-titulo {
  font-size: 20px;
  margin-top: 3rem;
  text-align: center;
  padding: 0 15%;
  line-height: 24px;
}
@media screen and (max-width: 600px) {
  main.contato .ctt-wrapper .contacto-sub-titulo {
    font-size: 16px;
  }
}
main.contato .ctt-wrapper .contacto-linha {
  width: 85%;
  margin: 4rem auto;
  height: 3px;
  background-color: #e4e4e4;
}
main.contato .ctt-wrapper #wrapper-teste {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: #727377;
  margin-bottom: 88px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-right: 29px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left input {
  width: 100%;
  height: 36px;
  background: #F9F8F6;
  border: 1px solid #E9E9E9;
  box-shadow: 0px 0px 0px 2px #F5F5F5;
  border-radius: 4px;
  margin: 11px 0 11px 0;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-left: 29px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right textarea {
  width: 100%;
  height: 300px;
  background: #F9F8F6;
  border: 1px solid #BCB5AA;
  border-radius: 4px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper .wpcf7-submit {
  color: #ffffff;
  background-color: #000000;
  padding: 8px;
  text-transform: uppercase;
  transition: all ease-in-out 0.4s;
  border-radius: 6px;
  border: 2px solid #000000;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  height: 57px;
  width: 189px;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper .wpcf7-submit:hover {
  color: #000000;
  background-color: #ffffff;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper span {
  margin: 0;
}
main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper .wpcf7-spinner {
  display: none;
}
@media screen and (max-width: 600px) {
  main.contato .ctt-wrapper #wrapper-teste {
    flex-direction: column;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left {
    width: 100% !important;
    align-items: center;
    margin-right: 0;
    font-size: 16px;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-left label {
    width: 90%;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right {
    width: 100% !important;
    align-items: center;
    margin-left: 0;
    margin-top: 32px;
    font-size: 16px;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right label {
    width: 90%;
  }
  main.contato .ctt-wrapper #wrapper-teste #form-wrapper-right #contact-btn-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main.contato iframe {
  max-width: 100%;
  margin-bottom: 54px;
}

.page-template-page-contato header nav ul li:nth-child(7),
.page-template-page-contato .mobile-header nav ul li:nth-child(7) {
  opacity: 0.34;
  pointer-events: none;
}

.interna-sobre > p {
  max-width: 1000px;
}
.interna-sobre .quote {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 32px;
  background-image: url("../img/left-quote.png"), url("../img/”.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, 100% 70%;
  background-size: 80px, 80px;
}
.interna-sobre .quote > p {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}
.interna-sobre .quote h3 {
  max-width: 780px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
}
.interna-sobre .map iframe {
  width: 100%;
  margin-bottom: 64px;
  margin-top: 32px;
}
@media screen and (max-width: 980px) {
  .interna-sobre .quote {
    background-size: 10%, 10%;
    padding: 32px 16px;
  }
}
@media screen and (max-width: 600px) {
  .interna-sobre .quote p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .interna-sobre .quote h3 {
    font-size: 1rem;
  }
}

.page-template-page-sobre header nav ul li:nth-child(2), .page-template-page-sobre .mobile-header nav ul li:nth-child(2) {
  opacity: 0.34;
  pointer-events: none;
}

.interna-projetos .categorias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  margin: 64px 0px;
}
.interna-projetos .categorias li {
  padding: 8px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 20px;
  color: #adadad;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.interna-projetos .categorias li.active {
  background-color: #5accb1;
  border-color: #5accb1;
  color: #FFF;
  box-shadow: none;
}
.interna-projetos .projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 8px 12px;
  margin-bottom: 32px;
}
.interna-projetos .projetos .projeto-card {
  width: 100%;
  position: relative;
}
.interna-projetos .projetos .projeto-card h2 {
  background-color: #FFF;
  color: #2E3934;
  font-weight: 500;
  position: absolute;
  bottom: 10%;
  padding: 12px;
  text-transform: uppercase;
  font-size: 25px;
}
.interna-projetos .projetos .projeto-card img {
  width: 100%;
}
.interna-projetos .projetos .hide {
  display: none;
}
@media screen and (max-width: 980px) {
  .interna-projetos .projetos {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .interna-projetos .categorias {
    margin-bottom: 32px;
  }
  .interna-projetos .projetos .projeto-card h2 {
    font-size: 20px;
  }
}

.post-type-archive-projetos header nav ul li:nth-child(4), .post-type-archive-projetos .mobile-header nav ul li:nth-child(4) {
  opacity: 0.34;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
